@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
@media (max-width: 498px) {
  h1 {
    font-size: 72px;
  }
}
@media (min-width: 499px) {
  h1 {
    font-size: 144px;
  }
}
h1 {
  display: block;
  padding: 30px;
  text-align: center;
  font-family: "Permanent Marker", cursive;
  font-weight: 900;
}

p {
  display: block;
  margin: 0 auto;
  padding-bottom: 30px;
  width: 80%;
  text-align: justify;
}

.field_about {
  z-index: 1;
  min-height: 100%;
  height: auto;
}

.main_field {
  background-image: url(../pics/sky.png);
}

.field {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(218, 207, 227)), to(rgba(218, 207, 227, 0)));
  background-image: linear-gradient(to bottom, rgb(218, 207, 227), rgba(218, 207, 227, 0));
}